:root {
  --building-color: rgb(154, 169, 175);
  --window-color: rgb(213, 243, 252);
}
*:not(#background-buildings div) {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
.day {
  background: radial-gradient(
    closest-corner circle at 12% 16%,
    #ffcf33,
    #ffcf33 20%,
    #ffff66 21%,
    #bbeeff 100%
  );
}
.night {
  background: radial-gradient(
    closest-corner circle at 12% 16%,
    #ccc,
    #ccc 20%,
    #445 21%,
    rgb(24, 24, 29) 100%
  );
}
#background-buildings,
#foreground-buildings {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
}
.window-display {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.window-display2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.window-display3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
/*background building 1*/
#bb1 {
  width: 10%;
  height: 50%;
  background-color: var(--building-color);
}
.bb1-window {
  width: 40%;
  height: 15%;
  background-color: var(--window-color);
}
/*background building 2*/
#bb2 {
  width: 10%;
  height: 80%;
}
#bb2a {
  width: 5%;
  height: 10%;
  margin: auto;
  background-color: var(--building-color);
}
#bb2b {
  width: 50%;
  height: 8%;
  margin: auto;
  background-color: var(--building-color);
}
#bb2c {
  width: 100%;
  height: 82%;
  gap: 10%;
  background-color: var(--building-color);
}
.bb2-window {
  width: 10%;
  height: 3%;
  margin: 5% 2% -20% 2%;
  background-color: var(--window-color);
}
/*background building 3*/
#bb3 {
  width: 20%;
  height: 60%;
  background-color: var(--building-color);
}
.bb3-window {
  width: 40%;
  height: 15%;
  background-color: var(--window-color);
}
/*background building 4*/
#bb4 {
  width: 8%;
  height: 85%;
  background-color: var(--building-color);
}
.bb4-window {
  width: 80%;
  height: 2%;
  margin: auto;
  background-color: var(--window-color);
}
/*background building 5*/
#bb5 {
  width: 10%;
  height: 95%;
}
#bb5a {
  width: 5%;
  height: 10%;
  position: relative;
  left: 30%;
  top: 18%;
  background-color: var(--building-color);
}
#bb5b {
  width: 5%;
  height: 18%;
  margin-left: 70%;
  background-color: var(--building-color);
}
#bb5c {
  width: 100%;
  height: 72%;
  background-color: var(--building-color);
  gap: 4%;
}
.bb5-window {
  width: 10%;
  height: 5%;
  margin: 0 2%;
  background-color: var(--window-color);
}
/*background building 6*/
#bb6 {
  width: 6%;
  height: 75%;
  background-color: var(--building-color);
}
.bb6-window {
  width: 85%;
  height: 1.5%;
  margin: auto;
  background-color: var(--window-color);
}
/*background building 7*/
#bb7 {
  width: 10%;
  height: 55%;
}
#bb7a {
  width: 30%;
  height: 10%;
  margin: auto;
  background-color: var(--building-color);
}
#bb7b {
  width: 55%;
  height: 10%;
  margin: auto;
  background-color: var(--building-color);
}
#bb7c {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--building-color);
}
.bb7-window {
  height: 95%;
  width: 10%;
  background-color: var(--window-color);
}
/*foreground building 1*/
#fb1 {
  width: 10%;
  height: 45%;
}
/*foreground building 2*/
#fb2 {
  width: 10%;
  height: 35%;
}
/*foreground building 3*/
#fb3 {
  width: 18%;
  height: 50%;
}
/*foreground building 4*/
#fb4 {
  width: 10%;
  height: 40%;
}
/*foreground building 5*/
#fb5 {
  width: 10%;
  height: 30%;
}
